<h1>Messages</h1>
<p><%= current_user.mailbox.inspect %></p>

<ul>
	<li>
		<p>notifications</p>
		<%= current_user.mailbox.notifications.inspect %>
	</li>
	<li>
		<p>inbox</p>
		<ul>
			<% current_user.mailbox.inbox.each do |conversation| %>
				<% conversation.messages.each do |m| %>
					<li><%= link_to "#{m.subject}", root_path %></li>
				<% end %>
			<% end %>
		</ul>
	</li>
	<li>
		<p>sentbox</p>
		<ul>
			<% current_user.mailbox.sentbox.each do |conversation| %>
				<% conversation.messages.each do |m| %>
					<li><%= link_to "#{m.subject}", root_path %></li>
				<% end %>
			<% end %>
		</ul>
	</li>
	<li>
		<p>trash</p>
		<%= current_user.mailbox.trash.inspect %>
	</li>
</ul>
