<h1>Conversations</h1>

<% @conversations.each do |conversation| %>
	<h2><%= link_to "#{conversation.subject}", conversation_path(conversation) %></h2>
	<% conversation.messages.order("created_at ASC").each do |message| %>
		<p>sent: <%= message.created_at %></p>
		<p>from: <%= User.find(message.sender_id).name %></p>
		<p>body: <%= message.body %></p>
	<% end %>
	<p><%= link_to "Reply", conversation_path(conversation) %></p>
<% end %>
