<p>
  <b>Username</b>
  <%= @user.username %>
</p>

<p>
	<b>Ride count:</b> <%= @user.rides.length %> <%= link_to "[show]", user_rides_path(@user) %>
</p>

<%= link_to 'Back to all users', users_path %> |
<%= link_to 'Back to all rides', rides_path %>
