<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
	<b>Ride count:</b> <%= @user.rides.length %> <%= link_to "[show]", user_rides_path(@user) %>
</p>

<%= link_to 'Back to all users', users_path %>
