<%= form_tag import_index_path, :method => :get do %>
  <%= select_tag "city", options_from_collection_for_select(@cities, "name", "name", params[:city]) %>
  <%= submit_tag 'Submit' %>
<% end %>

<% if @rides %>
<ul id='rides'>
  <% @rides.each do |ride| %>
    <li>
      <%= form_for Ride.new(:title => ride.title, :description => ride.description), :method => :post do |f| %>
      <dl>
        <dt>Title: </dt>
        <dd><%= f.text_field :title %></dd>
        <dt>Description: </dt>
        <dd><%= f.text_area :description %></dd>
        <dt>Origin: </dt>
        <dd><%= f.text_field :from %></dd>
        <dt>Destination: </dt>
        <dd><%= f.text_field :to %></dd>
        <dt>Request?</dt>
        <dd><%= f.check_box :request %></dd>
        <dt>Lat: </dt>
        <dd><%= f.text_field :latitude %></dd>
        <dt>Lng: </dt>
        <dd><%= f.text_field :longitude %></dd>
        <dt>Link: </dt>
        <dd><a href="<%= ride.link %>"><%= ride.link %></a></dd>
      </dl>
      <%= f.submit 'Save' %>
      <% end %>
    </li>
  <% end -%>
</ul>
<% end %>