<section class="ride">
	<header>
		<% if @user %>
			<h1><%= link_to_unless_current "#{ride.title}", user_ride_path(@user, ride) %> (<%= ride.from %>)</h1>
		<% else %>
			<h1><%= link_to_unless_current "#{ride.title}", ride_path(ride) %> (<%= ride.from %>)</h1>
		<% end %>
	</header>
	<p><%= ride.description %></p>
	<p>posted by <%= link_to "#{ride.user.username}", user_path(ride.user) %></p>
</section>
