<p>
  <b>Title:</b>
  <%= @ride.title %>
</p>

<p>
	<b>posted by:</b>
	<%= @username %>
</p>

<p>
  <b>Description:</b>
  <%= @ride.description %>
</p>

<p>
  <b>Request:</b>
  <%= @ride.request %>
</p>

<p>Nearby rides</p>
<ul>
	<% for ride in @ride.nearby %>
		<li><%= link_to ride.title, ride_path(ride) %></li>
	<% end %>
</ul>

