<h1>All rides</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Request</th>
  </tr>

<% @rides.each do |ride| %>
  <tr>
    <td><%= ride.title %></td>
    <td><%= ride.description %></td>
    <td><%= ride.latitude %></td>
    <td><%= ride.longitude %></td>
    <td><%= ride.request %></td>
  </tr>
<% end %>
</table>
