<h1>rides#send_message</h1>

<%= form_tag(controller: "rides", action: "send_message", method: "post") do %>
	<div class="field">
		<%= label_tag(:subject, "Subject") %><br />
		<p>Re: <%= @ride.title %></p>
	</div>
	<div class="field">
		<%= label_tag(:body, "Body") %><br />
		<%= text_area_tag(:body) %><br />
	<div>
	<div class="actions">
		<%= submit_tag("Submit") %>
	</div>
<% end %>
