<!DOCTYPE html>
<html>

	<head>
		<title>Trpn</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<nav>
			<ul>
				<li><%= link_to "Rides", rides_path %></li>
				<li>|</li>
				<li><%= link_to "Users", users_path %></li>
				<li>|</li>
				<li><%= link_to "Splash", root_path %></li>
				<li>|</li>
				<% if user_signed_in? %>
					<li><%= link_to "Edit profile", edit_user_registration_path %></li>
					<li>|</li>
					<li><%= link_to "Logout", destroy_user_session_path, method: :delete %>
				<% else %>
					<li><%= link_to_unless_current "Sign up", new_user_registration_path %></li>
					<li>|</li>
					<li><%= link_to "Login", new_user_session_path %></li>
				<% end %>
			</ul>
		</nav>

		<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
		
		<%= yield %>
	</body>

</html>
